.card_container {
  height: 440px;
  width: 270px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  align-items: center;
  &:hover {
    -webkit-box-shadow: -11px 8px 10px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -11px 8px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -11px 8px 10px 0px rgba(34, 60, 80, 0.2);
  }
}

.img_container {
  width: 230px;
  margin-top: 20px;
  div {
    width: 100%;
    height: 200px;
    background-color: blue;
  }
}

.name_container {
  margin-top: 25px;
  width: 230px;
  word-break: break-all;
  text-decoration: none;
  p {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    letter-spacing: -1px;
    text-decoration: none;
  }
}

.price_text {
  font-size: 32px;
  color: #ddb0ae;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -1.68px;
}

.price_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 13px;
}

.cart {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  border-radius: 40px;
  border: 1px solid #8bc1f4;
  background-color: #8bc1f4;
}

.cart_true {
  cursor: pointer;
  font-size: 16px;
  color: #8bc1f4;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  border-radius: 40px;
  border: 1px solid #8bc1f4;
}
