.container {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.main_container {
  width: 60%;
}

.top_container {
  width: 100%;
  p {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
  }
}

.info_container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.image {
  width: 40%;
  img {
    width: 400px;
    height: 400px;
  }
}

.info {
  width: 40%;
}

.main_text {
  font-weight: 600;
  font-size: 20px;
}

.text {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.des_container {
  width: 100%;
  margin-top: 60px;
}
