.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.main_container {
  width: 80%;
  textarea {
    width: 80%;
    resize: none;
    height: 150px;
    font-size: 20px;
    outline: none;
  }
  button {
    width: 300px;
    margin-top: 30px;
    color: white;
    background-color: #8ac1f4;
    height: 35px;
    font-size: 17px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 3px;
  }
}

.text {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 7px;
}

.all_raiting {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_raiting {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 600;
}

.raiting_container {
  width: 80%;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-bottom: 15px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  img {
    margin-top: 10px;
    max-width: 600px;
  }
  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.name {
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .raiting_container {
    img {
      max-width: 300px;
    }
  }
}
