.main_container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 15px;
}

.container {
  width: 90%;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.all_item {
  width: 100%;
  margin-top: 30px;
}

.info_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
}

.button_text {
  margin-top: 40px;
  height: 40px;
  width: 200px;
  border: none;
  background-color: #8ac1f4;
  color: white;
  font-size: 17px;
  z-index: 10;
  border-radius: 40px;
  cursor: pointer;
}
.all_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.button_item {
  width: 100%;
  cursor: pointer;
  height: 35px;
  color: white;
  background-color: #8ac1f4;
  border: none;
  border-radius: 35px;
  font-size: 16px;
}

.faq {
  margin-top: 100px;
}

.faq_text {
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

.iamge {
  display: flex;
  flex-direction: column;
  button {
    height: 30px;
    background-color: #8ac1f4;
    color: white;
    border: none;
    border-radius: 35px;
    margin-top: 7px;
  }
}

.cont {
  margin-top: 30px;
  button {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #8ac1f4;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
  }
  div {
    p {
      font-weight: 600;
      font-size: 17px;
      margin-bottom: 10px;
      margin-top: 15px;
    }
    input {
      height: 25px;
      padding-left: 10px;
      width: 200px;
      border-radius: 25px;
      border: none;
      border: 1px solid grey;
      outline: none;
    }
  }
}

.user_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.user {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: #333;
    font-weight: 500;
  }
}
