.main_container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 15px;
}

.container {
  width: 90%;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.all_item {
  width: 100%;
  margin-top: 30px;
}

.info_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
}

.faq {
  margin-top: 100px;
}

.faq_text {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 17px;
}
