.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 70%;
  margin-top: 70px;
  font-size: 18px;
  color: #333;
  word-spacing: 5px;
  word-break: inherit;
  div {
    padding-bottom: 30px;
    p {
      font-weight: 600;
      font-size: 25px;
      padding-bottom: 10px;
    }
  }
}

.cont {
  width: 70%;
  display: flex;
  gap: 30px;
}

.photo_container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  width: 300px;
  height: 170px;
  display: flex;
  gap: 15px;
  color: white;
  font-size: 19px;
  justify-content: center;
  background-color: #dd88ff;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
  }
}

.strong {
  font-weight: 600;
  margin-left: 20px;
}
.not_strong {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .cont {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
}
